*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.display-none {
    display: none !important;
}

/* Produktfinder */

.produktfinder {
    position: relative;
    background-color: #f5f5f5;
    width: 100%;
    overflow: hidden;
}

.produktfinder__container {
    display: -webkit-flex;
    display: flex;
    position: relative;
    position: inherit;
    width: 400%;
}

.produktfinder__section {
    width: 100%;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.produktfinder__header {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 85%;
    max-width: 450px;
}

.produktfinder__content {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 250px;
    margin: 30px 0px;
}

.produktfinder__footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    -ms-grid-align: center;
    justify-items: center;
    width: 85%;
    max-width: 450px;

    height: 60px;
}

.produktfinder__footer:nth-child(2) {
    -ms-grid-column: 2;
    grid-column: 2;
}

.wkd-produktfinder-footer__section {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100px;
}

.wkd-button--touch, 
.wkd-button--outlined{
    font-size: 1rem !important;
}



/* heading */

.produktfinder__heading {
    padding: 40px 10px 20px 10px;
    text-align: center;
    font-size: 4rem !important;
}

.produktfinder__caption {
    font-size: 1.2rem !important;
    text-align: center;
}

/* sider element */

.produktfinder-slider {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    padding: 0px 0px 25px 0px;
}

.produktfinder-slider__container {
    display: -webkit-flex;
    display: flex;
    position: relative;
    width: 100%;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px 0px;
}

.produktfinder-slider__icon {
    padding: 20px;
    background: #aed9d1;
    border-radius: 50%;
}

.produktfinder-slider__heading {
    padding: 0px 0px 0px 15px;
}

.produktfinder-slider__element {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    background: #c6c6c6;
}

input[type=range] {
    width: 100%;
    overflow: hidden;
    height: 30px;
    position: relative;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background-color: transparent;
    z-index: 10;
    border: none;
    box-shadow: none;
}

input[type=range]::-webkit-slider-runnable-track {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border: none;
    outline: none;
}

input[type=range]::-moz-range-track {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border: none;
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;

    border: none;
    outline: none;
}

input[type=range]::-moz-range-thumb {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;

    border: none;
    outline: none;
}


.produktfinder-slider__progress-indication {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    min-width: 30px;
    background-color: #69bfb5;
    border-radius: 50px;

    z-index: 1;
}

.produktfinder-slider__value-indication {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.produktfinder-slider__value {
    text-align: center;
    font-size: 1rem !important;
}


/* page indication */

.wkd-produktfinder__page-indication{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.wkd-produktfinder__page-indication-item, .wkd-page-indication-item--active{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 24px;
}

.wkd-produktfinder__page-indication-item circle{
    fill: #aed9d1;
}

.wkd-page-indication-item--active circle{
    fill: #75bfb0;
}

/* radio template example -- needs revision */

.produktfinder__boolean {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
}

.produktfinder__multi {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    align-self: center;
}

.wkd-produktfinder-radio { 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    /* font-size: max(12px, 1.2vw); */
    margin: 10px;
}

.wkd-produktfinder-radio__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    position: relative;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    transform-origin: center;

    width: 85px;
    height: 85px;
    max-width: 140px;
    max-height: 140px;
    border-radius: 100%;

    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-position: center;
    filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);

}

.wkd-produktfinder-radio__input:checked {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.wkd-produktfinder-radio__input:checked:after{
    content: url('./img/done_white_24dp.svg');
    position: absolute;
    left: 50%; 
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);

    width: 50%;
    height: 50%;

}

.wkd-produktfinder__text {
    position: relative;
    text-align: center;
    width: max-content;
}


@media only screen and (min-width: 575px) {
    .produktfinder__heading {
        font-size: 5rem !important;
    }

    .wkd-produktfinder-radio__input {
        width: calc(85px + (140 - 85)*((100vw - 575px) / (1670 - 575)));
        height: calc(85px + (140 - 85)*((100vw - 575px) / (1670 - 575)));
    }
}

@media only screen and (min-width: 992px) {
    .produktfinder__heading {
        width: 600px;
    }

    .produktfinder__content {
        width: 500px;
    }

    .produktfinder__multi {
        width: 70%;
    }

    .produktfinder__footer {
        max-width: 600px;
    }

    .wkd-button--touch, 
    .wkd-button--outlined{
        font-size: 1.1rem !important;
    }

    .wkd-produktfinder__text {
        font-size: 1.5rem !important;
    }

    .produktfinder-slider__heading, .wkd-switch__text{
        font-size: 2rem !important;
    }

    .produktfinder-slider__progress-indication {
        min-width: 34px;
    }

    .produktfinder-slider__icon {
        padding: 25px;
    }
}